<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title></title>
<link rel="stylesheet" href="lib/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="lib/live.js"> </script>
<script type="text/javascript" charset="utf-8" src="lib/lodash.js"> </script>
</head>
<body>
<div id="app" class="container-fluid">
  <h1>
    Superdarts
    <select v-model="targetScore">
      <option>301</option>
      <option>501</option>
    </select>
  </h1>
  <div class="row well">
    <div class="col-6">
      Next player is:
      <b>
        {{ getNextPlayerName() }}
      </b>
    </div>
    <div class="col-6">
      <form onsubmit="return false;">
        <input type="number" id="newScore" value="" v-model="score" min="0" max="180" />
        <button class="btn btn-primary" v-on:click="addScore()">OK</button>
      </form>
    </div>
  </div>
  <table class="table table-striped table-responsive table-condensed">
    <tr>
      <th v-for="(player, index) in players" class="text-right display-2">
        <h2>
          {{ player.name }}
          <br />
          {{ player.getRemainingScore(targetScore) }}
          <span v-if="canRemovePlayers" v-on:click="removePlayer(index)">
            <img src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_remove_circle_black_24px.svg"/>
          </span>
        </h3>
      </th>
    </tr>
    <tr v-for="round in rounds()" class="text-right">
      <td v-for="player in players">
        <div v-on:click="modifyScore(player, round)">
          <h3>
            <div v-if="showCummulativeScore">
              {{ player.getCummulativeScores(targetScore)[round] }}
            </div>
            <div v-if="!showCummulativeScore">
              {{ player.scores[round] }}
            </div>
          </h3>
        </div>
      </td>
    </tr>
  </table>
  <button class="btn btn-default" v-on:click="addPlayer()">Add Player</button>
  <button class="btn btn-default" v-on:click="toggleRemovePlayers()">Remove Player(s)</button>
  <button class="btn btn-default" v-on:click="toggleCummulativeScore()">Show Cummulative Score</button>
</div>
<script type="text/javascript" charset="utf-8" src="lib/vue.js"> </script>
<script type="text/javascript" charset="utf-8" src="script.js"> </script>
</body>
</html>
